<!DOCTYPE html>
<html>
<head>
    <title>Free Cash Flow Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <style>
        .flash-success {
            color: green;
            font-weight: bold;
        }
        .flash-error {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                {% for category, message in messages %}
                    <li class="flash-{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <script>
        $(function autocomplete() {
    
            $(".autocomplete").autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: "/autocomplete",
                        data: { p: this.element.attr("id"), q: request.term },
                        success: function(data) {
                            response(data);
                        }
                    });
                },
                minLength: 0
            });
        });
    </script>
</body>
</html>
