{% extends "base.html" %}

{% block content %}
    <h1>Free Cash Flow Calculator</h1>
    <form action="/select-action" method="post">
        <button type="submit" name="action" value="params">Saisie des Paramètres Généraux</button>
        <button type="submit" name="action" value="upload_nature_mvm">Chargement des parametres Nature Mouvement</button>
        <button type="submit" name="action" value="mouvements">Saisie des Mouvements</button>
        <button type="submit" name="action" value="simulate">Simulate Free Cash Flow</button>
    </form>
{% endblock %}
