{% extends "base.html" %}

{% block content %}
<h1>Saisie des Mouvements</h1>
<form action="{{ url_for('main.saisie_mouvements') }}" method="post" enctype="multipart/form-data">
    <label for="file">Upload Excel File:</label>
    <input type="file" id="file" name="file" accept=".xlsx" required><br><br>
    <input type="submit" value="Upload">
</form>
<br>
<div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}